body {
  font-family: 'Cutive';
  color: #FAFAFA;
  background-color: #EE2722;
  border-color: #EE2722;
  line-height: 30px;
	margin: 0;
}

h4 {
  line-height: 30px;
}

a, a:hover {
  color: #FAFAFA;
}

.logo img {
  margin: 5px;
}

.navbar-inverse, .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-collapse {
    background-color: #EE2722;
    border-color: #FAFAFA;
    color: #FAFAFA;
}

#menu {
	position:fixed;
	top:0px;
	width:100%;
	height:60px;
	background-color:#EE2722;
	color: #FAFAFA;
	z-index:9999;
	display: none;
}

.nav>li {
  text-align: right;
}

.row {
  text-align: center;
  border-bottom: solid 5px #FAFAFA
}

.section {
  margin: 6% 0;
}

.lsd-text {
  margin-bottom: 5%;
}

.intro {
  text-align: center;
  background: url(../lsd-img.png) no-repeat bottom center scroll;
  padding: 250px 0px;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.lsd {
  width: 100%;
  border: solid 1px #FAFAFA
}

.quote {
  margin-top: 5%;
}

.where-when-text {
  margin-bottom: 5%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  width: 75%;
  margin: 0 auto;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

 .first, .last {
  border-bottom: none;
}
